<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{fragments/main_layout}">
<head>

    <title>Reservar</title>

</head>
<body>
  <div layout:fragment="content">
    <div class="container">

        <h1>Reserva</h1>

        <form class="form-group" id="reservasForm">
            <div class="form-group">
                <label for="title">Fecha a reservar</label>
                <input type="date" class="form-control" id="fechaReserva"  />
            </div>
            <div class="form-group">
                <label for="content">Usuario</label>
                <select class="form-control" id="user"  ></select>
            </div>
            <div class="form-group">
                <label for="content">Producto</label>
                <select class="form-control" id="descripcion"  ></select>
            </div>
			
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
        </form>

    </div>
  </div>
</body>
</html>