<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{fragments/main_layout}">
<head>
	<script src="js/postUser.js"></script>
    <title>Registrar Usuario</title>

</head>
<body>
  <div layout:fragment="content">
    <div class="container">

        <h1>Usuario</h1>

        <form class="form-group" id="createUsersForm">
            <div class="form-group">
                <label for="title">nombre</label>
                <input type="text" class="form-control" id="name"  />
            </div>
            <div class="form-group">
                <label for="content">apellido</label>
                <input class="form-control" id="surname"  />
            </div>
            <div class="form-group">
                <label for="title">Username</label>
                <input type="text" class="form-control" id="username"  />
            </div>
            <div class="form-group">
                <label for="content">Contraseña</label>
                <input class="form-control" type="password" id="password"  />
        
            <div class="form-group">
                <label for="content">Email</label>
                <input type="email" class="form-control" id="email"  />
            </div>
			<div class="form-group">
			<div class="form-group">	
                <label for="content">Organizacion</label>
                <select class="form-control" id="orga" ></select>
            </div>
            <div class="form-group">	
                <label for="content">Rol</label>
                <select class="form-control" id="rol" ></select>
            </div>
            
			
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
        </form>

    </div>
  </div>
</body>
</html>