<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{fragments/main_layout}">
<head>
    <script src="/js/postProducts.js"></script>
    <title>Crear Producto</title>

</head>
<body>
  <div layout:fragment="content">
    <div class="container">

        <h1>Producto</h1>

        <form class="form-group" id="productsForm">
            <div class="form-group">
                <label for="title">Categoria</label>
                <input type="text" class="form-control" id="codigo"  />
            </div>
            <div class="form-group">
                <label for="content">Nombre</label>
                <input class="form-control" id="descripcion"  />
            </div>
			<div class="form-group">	
                <label for="content">organizacion</label>
                <select class="form-control" id="organizacion" ></select>
            </div>
			
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
        </form>

    </div>
  </div>
</body>
</html>