<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{fragments/main_layout}">
<head>
	<script src="/js/getProducts.js"></script>
    <title>Productos</title>
</head>
<body>
	<div layout:fragment="content">
    <div class="container">

        <h1>Productos</h1>

        <p>
          <!--  <a>Create</a> --> <a th:href="@{/cformProduct}">Create</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>categoria</th>
                    <th>nombre</th>
                    <th>disponible</th>
                    <th>Organizacion</th>
                </tr>
            </thead>
            <tbody id="myTable" >
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>